datasets/*
__pycache__*
batch_generator.ipynb
Articles/
useful_links
experiments
*ipynb_checkpoints
.DS_Store
.gitignore.swp
best_models/
test_inference_speed.ipynb
test_model.ipynb
*mp4
*Copy*
Untitled*
video_examples/*
*pwc*
core
for_presa*
test_batch*
backup_models/*
pytorch_spynet/
optical_flow_inference.ipynb
